@import "./reset";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

.nav-bar-container {
  display: flex;
  justify-content: center;
}
.logo {
  width: 4rem;
  background-color: rgba(255, 255, 255, 0.945);
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10%;
}
.login-page-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $bg-color;
  max-width: 25rem;
  height: 35rem;
  margin: auto;
  padding: 2rem;
  border-radius: 15px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.input {
  border: none;
  width: 95%;
  height: 2rem;
  padding: 10px;
  font-family: "Lexend", sans-serif;

  &:focus {
    outline: none;
  }
}
.input-btn {
  border: none;
  width: 100%;
  height: 3rem;
  font-size: 1.3rem;
  font-family: "Lexend", sans-serif;
  background-color: $button-color;
  cursor: pointer;
  &:hover {
    background-color: rgb(193, 165, 5);
    transition: 0.4s;
  }
}
.sign-up-link-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.forget-pswd-link {
  text-decoration: none;
  font-size: 0.8rem;
  width: 9rem;
  color: black;
  font-weight: 900;
  &:hover {
    color: rgb(193, 165, 5);
    transition: 0.3s;
  }
}
.Signup-link {
  text-decoration: none;
  color: black;
  font-weight: 900;
  &:hover {
    color: rgb(193, 165, 5);
    transition: 0.3s;
  }
}
.reminder{
    font-weight: 100;
    margin-top: -1rem;
}
.oat-login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.oat {
  display: flex;
  align-items: center;
  border: none;
  gap: 10px;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
  }
}
.oat-icons {
  width: 1.5rem;
}
